/*#menu {
  z-index: 2;
  right: 30px;
  padding: 5px;
  position: fixed;
  border-radius: 5px;
  > a {
    display: block;
    margin-left: 10px;
    margin-right: 5px;
  }
}

#toggle {
  color: inherit;
  border: none;
  background-color: transparent;
}
*/
@media screen and (min-width: 720px) and (max-width: 849px) {
  #content {
    margin-left: calc(11em + 20px) !important;
  }
  #sidebar {
    left: 20px;
  }
}
@media screen and (max-width: 639px) {
  #sidebar .meteorite svg {
    max-width: 45%;
  }
  #nav > ul {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 640px) {
  #wrapper {
    overflow: hidden;
    max-width: 48em;
    margin: auto;
  }
  #sidebar {
    border-right: 1px dashed #13272D;
    overflow: auto;
    position: fixed;
    width: 11em;
    bottom: 0;
    top: 0;
  }
  #content {
    margin-left: 11em;
    height: 100%;
    overflow: auto;
  }
  #content > main {
    margin-bottom: 50px;
  }
  #nav {
    margin-top: 33px;
  }
  /*#menu {
    position: absolute;
    > a {
      display: none;
    }
  }*/
}
#nav xli:last-child {
  flex: 1;
}
#sidebar .meteorite {
  margin-top: 50px;
}
* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0%);
  }
}
body {
  font-family: Montserrat, 'Sorts Mill Goudy';
  background-color: #01111F;
  color: #BEBEBE;
}
svg {
  fill: currentColor;
  vertical-align: middle;
}
hr {
  border: none;
  margin: 1rem 0;
  border-top: 2px dashed #13272D;
}
em {
  opacity: 0.6;
}
a {
  color: #79C551;
}
a:hover {
  color: #B3E72D;
}
main + nav {
  margin-top: 30px;
}
blockquote {
  margin: 0;
  position: relative;
  padding: 5px 0 5px 0.5rem;
  border-radius: 3px;
  border-left: 0.5rem solid #13272D;
  background-color: rgba(0, 0, 0, 0.3);
}
blockquote.is-note,
blockquote.is-tip,
blockquote.is-important,
blockquote.is-warning,
blockquote.is-caution {
  padding-top: 1.8rem;
}
blockquote.is-note::before,
blockquote.is-tip::before,
blockquote.is-important::before,
blockquote.is-warning::before,
blockquote.is-caution::before {
  background-repeat: no-repeat;
  padding-left: 22px;
  position: absolute;
  font-size: 0.8rem;
  top: 0.3rem;
}
blockquote.is-note::before {
  content: "NOTE";
  color: #5F9EFF;
  background-image: url(/images/note.svg);
}
blockquote.is-tip::before {
  content: "TIP";
  color: #79C551;
  background-image: url(/images/tip.svg);
}
blockquote.is-important::before {
  content: "IMPORTANT";
  color: #986EE2;
  background-image: url(/images/important.svg);
}
blockquote.is-warning::before {
  content: "WARNING";
  color: #C69026;
  background-image: url(/images/warning.svg);
}
blockquote.is-caution::before {
  content: "CAUTION";
  color: #DC3546;
  background-image: url(/images/caution.svg);
}
blockquote.is-note {
  border-color: #5F9EFF;
}
blockquote.is-tip {
  border-color: #79C551;
}
blockquote.is-important {
  border-color: #986EE2;
}
blockquote.is-warning {
  border-color: #C69026;
}
blockquote.is-caution {
  border-color: #DC3546;
}
blockquote.is-note svg {
  fill: #5F9EFF;
}
blockquote.is-tip svg {
  fill: #79C551;
}
blockquote.is-important svg {
  fill: #986EE2;
}
blockquote.is-warning svg {
  fill: #C69026;
}
blockquote.is-caution svg {
  fill: #DC3546;
}
blockquote.is-note code {
  color: #5F9EFF;
}
blockquote.is-tip code {
  color: #79C551;
}
blockquote.is-important code {
  color: #986EE2;
}
blockquote.is-warning code {
  color: #C69026;
}
blockquote.is-caution code {
  color: #DC3546;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
pre code {
  display: block;
  padding: 0.5rem;
  font-size: 0.75rem;
}
p code {
  color: #FEFEFE;
}
code {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 0 2px;
  color: #8A8A8A;
}
ul,
ol {
  list-style-position: inside;
  list-style-type: square;
  padding-left: 1rem;
}
ul li + li {
  margin-top: 0.3rem;
}
ol {
  list-style: none;
  counter-reset: steps;
}
ol li {
  counter-increment: steps;
}
ol li + li {
  margin-top: 1rem;
}
ol li::before {
  content: counter(steps);
  background-color: #79C551;
  color: #01111F;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.5rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  color: #FEFEFE;
  text-align: left;
  font-weight: bold;
}
td {
  color: #2C4C43;
}
tr td,
tr th {
  border-bottom: 1px solid #13272D;
  padding: 0.3rem;
}
small {
  font-size: 0.8rem;
}
h1 small {
  display: none;
  font-size: 1.2rem;
}
h1 small a {
  text-decoration: none;
}
h1:hover small {
  display: block;
}
h1,
h2,
h3,
h4 {
  color: #2C4C43;
  text-shadow: 1px 1px 3px #000000;
}
.has-table {
  overflow: auto;
}
.has-table + p,
.has-table + div,
.has-table + blockquote {
  margin-top: 1rem;
}
.meteorite {
  text-align: center;
}
.meteorite svg {
  max-width: 87%;
}
.meteorite a {
  transition: color 0.5s;
  color: #FEFEFE;
}
.meteorite a:hover {
  color: #B3E72D;
}
.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.welcome {
  color: #2C4C43;
}
.welcome svg {
  max-width: 150px;
  margin-top: 50px;
}
.dimmed {
  color: #2C4C43;
  text-shadow: 1px 1px 3px #000000;
}
.center {
  text-align: center;
}
.reset {
  padding: 0;
  margin: 0;
}
.h-full {
  height: 100%;
}
.links {
  list-style-type: none;
}
.links ul li + li {
  margin-top: 10px;
}
.links li a::before {
  content: '▹ ';
}
.links a {
  white-space: nowrap;
}
.links a[aria-current=page] {
  color: #FEFEFE;
  text-decoration: none;
}
.links a[aria-current=page]::before {
  content: '▾ ';
}
.hljs {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.hljs code {
  background-color: unset;
}
.body {
  padding: 1rem;
  margin: auto;
}
.body.min {
  max-width: 30em;
  margin-bottom: 50px;
}
.px-2 {
  padding: 0 20px;
}
.p-2 {
  padding: 20px;
}
.p-1 {
  padding: 20px;
}
.flex {
  display: flex;
}
.flex .fill {
  flex: 1;
}
.flex.gap-sm {
  gap: 5px;
}
.flex.gap-md {
  gap: 10px;
}
.flex.gap-lg {
  gap: 20px;
}
.flex.between {
  justify-content: space-between;
}
.flex.centered {
  align-items: center;
}
.flex.vertical {
  flex-direction: column;
}
