/*#menu {
  z-index: 2;
  right: 30px;
  padding: 5px;
  position: fixed;
  border-radius: 5px;
  > a {
    display: block;
    margin-left: 10px;
    margin-right: 5px;
  }
}

#toggle {
  color: inherit;
  border: none;
  background-color: transparent;
}
*/
@media screen and (min-width: 720px) and (max-width: 849px) {
  #content {
    margin-left: calc(11em + 20px) !important;
  }
  #sidebar {
    left: 20px;
  }
}
@media screen and (max-width: 639px) {
  #sidebar .meteorite svg {
    max-width: 45%;
  }
  #nav > ul {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 640px) {
  #wrapper {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
  }
  #sidebar {
    border-right: 1px dashed #13272D;
    overflow: auto;
    position: fixed;
    width: 11em;
    bottom: 0;
    top: 0;
  }
  #content {
    margin-left: 11em;
    height: 100%;
    overflow: auto;
  }
  #content > main {
    margin-bottom: 50px;
  }
  #nav {
    margin-top: 33px;
  }
  /*#menu {
    position: absolute;
    > a {
      display: none;
    }
  }*/
}
#nav xli:last-child {
  flex: 1;
}
#sidebar .meteorite {
  margin-top: 50px;
}
* {
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0%);
  }
}
body {
  font-family: Montserrat, 'Sorts Mill Goudy';
  background-color: #01111F;
  color: #BEBEBE;
}
svg {
  fill: currentColor;
  vertical-align: middle;
}
hr {
  border: none;
  border-top: 2px dashed #13272D;
}
em {
  opacity: 0.6;
}
a {
  color: #79C551;
}
a:hover {
  color: #B3E72D;
}
blockquote {
  margin: 0;
  position: relative;
  padding: 5px 0 5px 0.5rem;
  border-radius: 3px;
  border-left: 0.5rem solid #13272D;
  background-color: rgba(0, 0, 0, 0.3);
}
blockquote.is-ok {
  border-color: #79C551;
}
blockquote.is-err {
  border-color: #DC3546;
}
blockquote.is-info {
  border-color: #5F9EFF;
}
blockquote.is-warn {
  border-color: #C69026;
}
blockquote.is-ok svg {
  fill: #79C551;
}
blockquote.is-err svg {
  fill: #DC3546;
}
blockquote.is-info svg {
  fill: #5F9EFF;
}
blockquote.is-warn svg {
  fill: #C69026;
}
blockquote.is-ok code {
  color: #79C551;
}
blockquote.is-err code {
  color: #DC3546;
}
blockquote.is-info code {
  color: #5F9EFF;
}
blockquote.is-warn code {
  color: #C69026;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
pre code {
  display: block;
  padding: 0.5rem;
}
p code {
  color: #FEFEFE;
}
ul,
ol {
  padding-left: 2rem;
}
small {
  font-size: 0.8rem;
}
code {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 0 2px;
  color: #79C551;
}
h1 small {
  display: none;
  font-size: 1.2rem;
}
h1 small a {
  text-decoration: none;
}
h1:hover small {
  display: block;
}
h1,
h2,
h3,
h4 {
  color: #2C4C43;
  text-shadow: 1px 1px 3px #000000;
}
.meteorite {
  text-align: center;
}
.meteorite svg {
  max-width: 87%;
}
.meteorite a {
  transition: color 0.5s;
  color: #FEFEFE;
}
.meteorite a:hover {
  color: #B3E72D;
}
.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.welcome {
  color: #AAEEAA;
}
.welcome svg {
  max-width: 150px;
  margin-top: 50px;
}
.dimmed {
  color: #2C4C43;
  text-shadow: 1px 1px 3px #000000;
}
.center {
  text-align: center;
}
.reset {
  padding: 0;
  margin: 0;
}
.h-full {
  height: 100%;
}
.links {
  list-style-type: none;
}
.links ul li + li {
  margin-top: 10px;
}
.links li a::before {
  content: '▹ ';
}
.links a {
  white-space: nowrap;
}
.links a[aria-current=page] {
  color: #FEFEFE;
  text-decoration: none;
}
.links a[aria-current=page]::before {
  content: '▾ ';
}
.hljs {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.hljs code {
  background-color: unset;
}
.body {
  padding: 1rem;
  margin: auto;
}
.body.min {
  max-width: 30em;
  margin-bottom: 50px;
}
.px-2 {
  padding: 0 20px;
}
.p-2 {
  padding: 20px;
}
.p-1 {
  padding: 20px;
}
.flex {
  display: flex;
}
.flex .fill {
  flex: 1;
}
.flex.gap-sm {
  gap: 5px;
}
.flex.gap-md {
  gap: 10px;
}
.flex.gap-lg {
  gap: 20px;
}
.flex.between {
  justify-content: space-between;
}
.flex.centered {
  align-items: center;
}
.flex.vertical {
  flex-direction: column;
}
