doctype html
html
  head
    base(href='/')
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')

    title= title
    meta(name='release' content=GIT_REVISION)

    link(rel='stylesheet' href='//unpkg.com/highlight.js@10.7.3/styles/tomorrow.css' inline)
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat')
    import(from='styles.css' inline)

  body.reset
    import(from='sprites.svg')

    main.body.min
      .center
        span.welcome {@import from="welcome.svg"}
        h1.meteorite.floating: a(href='/' data-version=pkg.version) {@import from="jamrock-meteorite.svg"}

      block body
        != yield
