nav#nav.fill: ul.reset.links
  li
    h3 Overview
    ul.reset.links
      li: alink(for='/' exact) Introduction
      li: alink(for='/components') Components
      li: alink(for='/fragments') Fragments
      li: alink(for='/scripts') Scripts
      li: alink(for='/styles') Styles
      li: alink(for='/pages') Pages
  li
    h3 Server
    ul.reset.links
      li: alink(for='/conn') Conn
      li: alink(for='/hooks') Hooks
      li: alink(for='/stores') Stores
