nav#nav: ul.reset
  li
    h3.reset Overview
    ul.reset
      li: alink(for='/' exact) Introduction
      li: alink(for='/docs/components') Components
      li: alink(for='/docs/fragments') Fragments
      li: alink(for='/docs/stores') Stores

  li
    h3.reset Module
    ul.reset
      li: alink(for='/docs/hooks') Hooks
      li: alink(for='/docs/routes') Routes
      li: alink(for='/docs/handlers') Handlers

  li
    h3.reset State
    ul.reset
      li: alink(for='/docs/session') Session
      li: alink(for='/docs/models') Models
      li: alink(for='/docs/cache') Cache

  li
    h3.reset Context
    ul.reset
      li: alink(for='/docs/auth') Auth
      li: alink(for='/docs/access') Access
      li: alink(for='/docs/request') Request
      li: alink(for='/docs/response') Response

  li
    h3.reset Utilities
    ul.reset
      li: alink(for='/docs/cli') CLI usage
      li: alink(for='/docs/mailer') Mailer and templates
      li: alink(for='/docs/uploads') Uploads and static files
      li: alink(for='/docs/database') Databases and scaffolding
