@white: #FEFEFE;
@mantis: #79C551;
@opaque: #AAEEAA;
@darker: #2C4C43;
@lighter: #BEBEBE;
@rich-black: #01111F;
@spring-bud: #B3E72D;
@gunmetal: #13272D;

@keyframes floating {
  0% { transform: translateY(0%); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0%); }
}

body {
  font-family: Montserrat, 'Sorts Mill Goudy';
  background-color: @rich-black;
  color: @lighter;
}
svg {
  fill: currentColor;
}
hr {
  border: none;
  border-top: 2px dashed @gunmetal;
}
a {
  color: @mantis;
  &:hover { color: @spring-bud; }
}
code {
  background-color: @darker;
  border-radius: 3px;
  padding: 0 2px;
  color: @mantis;
}
small {
  font-size: .8rem;
}

.meteorite {
  text-align: center;
  svg {
    max-width: 66%;
  }
  a {
    transition: color .5s;
    color: @white;
    &:hover { color: @spring-bud; }
  }
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.welcome {
  color: @opaque;
  svg {
    max-width: 150px;
    margin-top: 50px;
  }
}

.dimmed {
  color: @darker;
  text-shadow: 1px 1px 3px #000000;
}

.center {
  text-align: center;
}

.reset {
  margin: 0;
}

.body {
  max-width: 640px;
  margin: auto;
}

.flex {
  display: flex;
  .gap { gap: 1rem; }
  &.between { justify-content: space-between; }
  &.centered { align-items: center; }
}
