@sidebar: 11em;

@white: #FEFEFE;
@mantis: #79C551;
@opaque: #AAEEAA;
@darker: #2C4C43;
@lighter: #BEBEBE;
@failure: #DC3546;
@attention: #C69026;
@information: #5F9EFF;
@rich-black: #01111F;
@spring-bud: #B3E72D;
@gunmetal: #13272D;

@import './partials/layout.less';

* { box-sizing: border-box; }

*::after,
*::before { box-sizing: inherit; }

@keyframes floating {
  0% { transform: translateY(0%); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0%); }
}

body {
  font-family: Montserrat, 'Sorts Mill Goudy';
  background-color: @rich-black;
  color: @lighter;
}
svg {
  fill: currentColor;
  vertical-align: middle;
}
hr {
  border: none;
  border-top: 2px dashed @gunmetal;
}
em { opacity: .6; }
a {
  color: @mantis;
  &:hover { color: @spring-bud; }
}
blockquote {
  margin: 0;
  position: relative;
  padding: 5px 0 5px .5rem;
  border-radius: 3px;
  border-left: .5rem solid @gunmetal;
  background-color: rgba(0, 0, 0, .3);

  &.is-ok { border-color: @mantis; }
  &.is-err { border-color: @failure; }
  &.is-info { border-color: @information; }
  &.is-warn { border-color: @attention; }

  &.is-ok svg { fill: @mantis; }
  &.is-err svg { fill: @failure; }
  &.is-info svg { fill: @information; }
  &.is-warn svg { fill: @attention; }

  &.is-ok code { color: @mantis; }
  &.is-err code { color: @failure; }
  &.is-info code { color: @information; }
  &.is-warn code { color: @attention; }
}
blockquote p:first-child { margin-top: 0; }
blockquote p:last-child { margin-bottom: 0; }
pre code {
  display: block;
  padding: .5rem;
}
p code { color: @white; }
ul, ol { padding-left: 2rem; }
ol {
  list-style: none;
  counter-reset: steps;
  li {
    counter-increment: steps;
    + li { margin-top: 1rem; }
    &::before {
      content: counter(steps);
      background-color: @mantis;
      color: @rich-black;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 5px;
      border-radius: 50%;
      display: inline-grid;
      place-items: center;
      line-height: 1.5rem;
    }
  }
}
small { font-size: .8rem; }
code {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 3px;
  padding: 0 2px;
  color: @mantis;
}
h1 {
  small {
    display: none;
    font-size: 1.2rem;
    a { text-decoration: none; }
  }
  &:hover small { display: block; }
}
h1, h2, h3, h4 {
  .dimmed;
}

.meteorite {
  text-align: center;
  svg {
    max-width: 87%;
  }
  a {
    transition: color .5s;
    color: @white;
    &:hover { color: @spring-bud; }
  }
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.welcome {
  color: @opaque;
  svg {
    max-width: 150px;
    margin-top: 50px;
  }
}

.dimmed {
  color: @darker;
  text-shadow: 1px 1px 3px #000000;
}

.center { text-align: center; }

.reset {
  padding: 0;
  margin: 0;
}

.h-full { height: 100%; }

.links {
  list-style-type: none;
  ul li + li { margin-top: 10px; }
  li a::before { content: '▹ '; }
  a { white-space: nowrap; }
  a[aria-current=page] {
    color: @white;
    text-decoration: none;
    &::before { content: '▾ '; }
  }
}

.hljs {
  padding: 0;
  background-color: rgba(0, 0, 0, .3);
  code { background-color: unset;  }
}

.body {
  padding: 1rem;
  margin: auto;

  &.min {
    max-width: 30em;
    margin-bottom: 50px;
  }
}

.px-2 { padding: 0 20px; }
.p-2 { padding: 20px; }
.p-1 { padding: 20px; }

.flex {
  display: flex;
  .fill { flex: 1; }
  &.gap-sm { gap: 5px; }
  &.gap-md { gap: 10px; }
  &.gap-lg { gap: 20px; }
  &.between { justify-content: space-between; }
  &.centered { align-items: center; }
  &.vertical { flex-direction: column; }
}
